html,
.App {
  width: 100%;
  height: 100%;
}

.App {
  background-image: url("./assets/images/bg.png");
  //background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
.page-title {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 0px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  color: #ffffff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  font-size: 16px;
}
.primary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.microphone {
  cursor: pointer;
  margin-top: 8px;
  width: 80px;
  height: 80px;
}

.microphoneListening {
  cursor: pointer;
  margin-top: 8px;
  width: 80px;
  height: 80px;
  filter: invert(14%) sepia(100%) saturate(3552%) hue-rotate(303deg)
    brightness(97%) contrast(115%) drop-shadow(0px 3px 3px #fff);
}

.listening {
  font-size: 25px;
  color: #fff;
  -webkit-text-stroke: 1px rgb(13, 255, 0) #000;
  text-shadow: 2px 2px 4px #000;
}

.volume {
  font-size: 15px;
  color: #fff;
  -webkit-text-stroke: 1px rgb(13, 255, 0) #000;
  text-shadow: 2px 2px 4px #000;
}

.listening:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.btn {
  border: 1px solid #ffffff;
  padding: 8px 16px;
  margin-top: 16px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
  max-width: 80px;
  max-height: 80px;
}

button,
label,
input {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

p {
  text-align: center;
}

.tubeArea {
  height: 400px;
  width: 100%;
}
.tube {
  z-index: 4;
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 85%;
  transform: translateX(-50%);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    to right,
    #3490a0,
    #3490a0 5px,
    #3ea4bd 18px,
    #bcfbff 36px,
    #65c9e2 53px,
    #2c8b9f 103px,
    #065253 100%
  );
  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    left: -10px;
    height: 8px;
    width: 220px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1) 98%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }
  &::after {
    content: "";
    position: absolute;
    left: -10px;
    height: 50px;
    width: 220px;
    border-radius: 6px;
    border-bottom: solid 7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(
      to right,
      #3490a0,
      #3490a0 5px,
      #3ea4bd 18px,
      #bcfbff 36px,
      #65c9e2 53px,
      #2c8b9f 103px,
      #065253 100%
    );
  }
}
.tubeFlipped {
  z-index: 2;
  width: 200px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    to right,
    #3490a0,
    #3490a0 5px,
    #3ea4bd 18px,
    #bcfbff 36px,
    #65c9e2 53px,
    #2c8b9f 103px,
    #065253 100%
  );
  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    left: -10px;
    height: 8px;
    width: 220px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1) 98%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }
  &::after {
    content: "";
    position: absolute;
    left: -10px;
    height: 50px;
    width: 220px;
    border-radius: 6px;
    border-bottom: solid 7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(
      to right,
      #3490a0,
      #3490a0 5px,
      #3ea4bd 18px,
      #bcfbff 36px,
      #65c9e2 53px,
      #2c8b9f 103px,
      #065253 100%
    );
  }
}

.hidden {
  display: none;
}

.transcript {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #000;
  -webkit-text-stroke: 1px #000;
  // text-shadow: 2px 2px 4px #000;
}
.miss {
  animation: x-motion-miss 5s linear 0s;
}

.missHigh {
  animation: x-motion-misshigh 1s linear 0s;
}

.miss:before {
  content: attr(data-transcript);
  color: #000;
  -webkit-text-stroke: 1px #000;
  //text-shadow: 2px 2px 4px darkblue;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 100%;
  font-size: 28px;
  font-family: "Varela Round", sans-serif;
  animation: y-motion-miss 5s linear 0s;
}

.missHigh:before {
  content: attr(data-transcript);
  color: #000;
  -webkit-text-stroke: 1px #000;
  //text-shadow: 2px 2px 4px darkblue;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 100%;
  font-size: 28px;
  font-family: "Varela Round", sans-serif;
  animation: y-motion-misshigh 1s linear 0s;
}

.medium {
  animation: x-motion 2s ease-in-out 0s;
}

.medium:before {
  content: attr(data-transcript);
  color: #000;
  -webkit-text-stroke: 1px #000;
  // text-shadow: 2px 2px 4px darkblue;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 100%;
  font-size: 28px;
  font-family: "Varela Round", sans-serif;
  animation: y-motion 2s ease-in-out 0s;
}

//.fast {
// animation: x-motion 1.5s ease-in-out 0s forwards;
//}

//.fast:before {
//  content: attr(data-transcript);
// color: #fff;
//width: 30px;
// height: 30px;
// position: absolute;
//top: 100%;
//font-size: 28px;
//font-family: "Varela Round", sans-serif;
//animation: y-motion 1.5s ease-in-out 0s forwards;
//}

@keyframes x-motion-misshigh {
  0% {
    left: 200px;
  }
  50% {
    left: calc(100vw - 60px);
  }
  100% {
    left: 95vw;
  }
}

@keyframes y-motion-misshigh {
  0% {
    top: 15vh;
  }
  50% {
    top: calc(100vh - 450px);
  }

  100% {
    top: calc(100vh - 50px);
  }
}

@keyframes x-motion-miss {
  0% {
    left: 200px;
  }
  50% {
    left: calc(85% - 200px);
  }
  100% {
    left: 50vw;
  }
}

@keyframes y-motion-miss {
  0% {
    top: 15vh;
  }
  50% {
    top: calc(100vh - 330px);
  }

  100% {
    top: calc(100vh - 50px);
  }
}

@keyframes x-motion {
  0% {
    left: 200px;
  }

  100% {
    left: 83vw;
  }
}

@keyframes y-motion {
  0% {
    top: 15vh;
  }
  50% {
    top: 10vh;
  }
  100% {
    top: calc(100vh - 250px);
  }
}
